<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.heavendevelopment.sonschallenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_soch_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_soch_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DesafioActivity" />
        <activity
            android:name=".CriarDevocional"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="SOCH" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="br.heavendevelopment.sonschallenge.Model.Devocional, br.heavendevelopment.sonschallenge.Model.Leitura" />

        <activity android:name=".DesafiosListActivity" />

        <activity android:name=".VerDiaLeituraActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>